@font-face {
  font-family: "thebodyshop_jung_170";
  src: url("../font/thebodyshop/thebodyshop_jung_170.eot");
  src: url("../font/thebodyshop/thebodyshop_jung_170.eot?#iefix") format("embedded-opentype"),
	   url("../font/thebodyshop/thebodyshop_jung_170.woff") format("woff"),
	   url("../font/thebodyshop/thebodyshop_jung_170.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

