/* emphasis */
.em 			{font-style: normal;}
.em.disable		{color: $em-color-disable;}
.em.slightly	{color: $em-color-slightly;}
.em.normal		{color: $em-color-normal;}
.em.weighty		{color: $em-color-weighty;}
.em.weightiest	{color: $em-color-weightiest;}
.em.warning		{color: $em-color-warning;}
